.Hero{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.text{
    font-size: 24px;
    font-weight: 600;
    margin-left: 10vw;
}

.text>div{
    font-size: 64px;
}

.text>a{
    display: block;
    margin-top: 1.8vh;
    text-decoration: none;
    color: #fff;
    background-color:  #00FF00;
    height: 7vh;
    width: 10vw;
    text-align: center;
    box-sizing: border-box;
    padding: 1vh 0;
    border-radius: 2vw;
}

.text>a:hover{
    text-transform: capitalize;
    transform: scale(1.3);
}

.name{
    color: #00FF00;
}

.green{
    height: 30vmax;
    width: 30vmax;
    background-color: #00FF00;
    border-radius: 50vmin;
    margin-right: 10vw;
    z-index: -1;
}