#Contact{
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.site{
    margin: 0;
    margin-right: 7vw;
}

.mytitle{
    font-size: 1rem;
    display: block;
    margin-bottom: 25vh;
}

.copy{
    font-size: 1rem;
}

.sitemap{
    margin: 0 8vw;
    display: flex;
    flex-direction: column;
}

.sitemap span{
    font-size: 1.2rem;
    margin-bottom: 2.5vh;
}

.connect{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.connect span{
    margin-bottom: 2vh;
}

.connect li{
    margin-bottom: 1vh;
    list-style: none;
}

.li{
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 2.5vh;
}

.form{
    margin: 5vh 5vw;
    height:40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.form h1{
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: 1.2rem;
}

.form .input{
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 2.5vh;
}

.form .input label{
    font-size: 1rem;
    pointer-events: none;
}

.form .input input{
    border: none;
    border-bottom: 0.01rem solid antiquewhite;
    background: none;
    outline: none;
    font-size: 1rem;
    color: antiquewhite;
}

.form .input input:focus{
    opacity: 0.8;
}

.form .input span{
    height: 1vh;
}


.btn{
    background-color: #000;
    margin-top: 1vh;
    color: antiquewhite;
    border: 0.01rem solid antiquewhite;
    font-size: 1.2rem;
    height: 5vh;
    border-radius: 2.5vh;
    transition: all 0.3s;
}

.btn>div:hover{
    transform: scale(1.1);
}
